.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img{
    max-width: 150px;
    max-height: 150px;
}

.profile .description{
    
}

.main .description .content{
    
    border-radius: 10px;
    background-color: #ffffff; /* Set your white background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    

}