.main h2{
    text-align: center;
}

section{
    padding: 3rem;
}

input{
    max-width: 60rem;
}

.main{
    padding-bottom: 4rem;
    overflow-y: auto;
}

.mb3-flex-col{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.pad-l-12{
    padding-right: 12rem;
}